<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <header>
        <h2>
          {{title}}
        </h2>
      </header>
      <app-currency-converter-data [mode]="'from'" [currencyCode]="'PLN'" [updateCurrencyValue]="updated" (currencyValueUpdate)="update($event)"></app-currency-converter-data>
      <app-currency-converter-data [mode]="'to'" [currencyCode]="'USD'" [updateCurrencyValue]="updated" (currencyValueUpdate)="update($event)"></app-currency-converter-data>
    </div>
  </div>
</div>
